[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = https://github.com/simonlindholm/asm-processor.git
[submodule "tools/n64splat"]
	path = tools/n64splat
	url = https://github.com/ethteck/splat
[submodule "tools/ido-static-recomp"]
	path = tools/ido-static-recomp
	url = https://github.com/Emill/ido-static-recomp.git
[submodule "tools/bk_asset_tool"]
	path = tools/bk_asset_tool
	url = https://github.com/MittenzHugg/bk_asset_tool.git
[submodule "tools/bk_rom_compressor"]
	path = tools/bk_rom_compressor
	url = https://github.com/MittenzHugg/bk_rom_compressor.git
